@use '@root/variables.scss' as *;

.register-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: $AppHeight;
    background-color: $Gray_1;
    padding-left: $AppPadding;
    padding-right: $AppPadding;

    &__container {
        background-color: $White_1;
        padding: 30px;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        width: 450px;
        box-sizing: border-box;
    }

    &__title {
        font-size: 2rem;
        font-weight: bold;
        margin-top: 0;
        margin-bottom: $AppPadding;
        color: $Black_1;
    }

    &__form {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        width: 100%;
        max-width: 400px;
        background: $White_1;
        border-radius: $BorderRadius_Default;
        box-shadow: $BoxShadow_Default;
    }

    &__actions {
        margin-top: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__result {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 5px;
        font-size: 1rem;
        text-align: center;
        border-radius: $BorderRadius_Default;
    }

    &__message {
        width: fit-content;
        padding: 3px 12px;
        border-radius: $BorderRadius_Default;

        &_success {
            color: $Green_1;
            background-color: $Green_2;
        }

        &_error {
            color: $Red_1;
            background-color: $Red_2;
        }
    }

    &__timer {
        color: $Gray_1;
    }
}