@use '@root/variables.scss' as *;

.header-controls {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    align-items: center;
    justify-content: flex-end;

    width: 100%;
    height: 100%;
    background-color: $Black_2;
    color: $White_2;

    padding-right: $AppPadding;

}