@use '@root/variables.scss';
@import 'sanitize.css';

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: $White_1;
    color: $Black_1;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    position: relative;

    display: flex;
    flex-direction: column;

    margin-top: $AppTopMargin;

    &_controls {
        position: fixed;
        display: flex;
        background-color: $White_1;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        top: 0;
        left: 0;
        right: 0;

        width: 100%;
        height: $AppTopMargin;
    }
}
