// Height
$AppHeight: calc(100vh - 40px);

// Padding
$AppPadding: 20px;

// Margins
$AppTopMargin: 40px;

// Colors
$Blue_1: #0275d8;
$Blue_2: #0056b3;

$White_1: #FFFFFF;
$White_2: #f8f9fa;

$Black_1: #000000;

$Gray_1: #CCCCCC;
$Gray_2: #B8B8B8;
$Gray_3: #f1f1f1;

$Red_1: #dc3545;

$Green_1: #28a745;

// Transitions
$Transition_Default: all 0.3s ease;

// Border Radius
$BorderRadius_Default: 8px;

// Shadows
$BoxShadow_Default: 0 4px 6px rgba(0, 0, 0, 0.1);

// Transitions
$Transition_Default: all 0.3s ease;